# Exercises_05 - Pandas exercises

This week we will work with the `pandas` library for data analysis.
The reference guide for numpy can be found here: https://pandas.pydata.org/docs/.

## Revisiting the BMI dataset

Last week we utilised numpy and represented a BMI dataset (from Kaggle) in text form.
Whilst it does populate the numpy array with the data, the formatting is harder to read with the 'b' prefix and misalignment of columns.

In [31]:
import numpy as np
import os

# Import `height-weight` keeping the text column intact.
url = os.path.join('..', 'datasets', '500_Person_Gender_Height_Weight_Index.csv')
hw_dataset = np.genfromtxt(url, delimiter=',', names=True, dtype='object')
hw_dataset

array([(b'Male', b'174', b'96', b'4'), (b'Male', b'189', b'87', b'2'),
       (b'Female', b'185', b'110', b'4'),
       (b'Female', b'195', b'104', b'3'), (b'Male', b'149', b'61', b'3'),
       (b'Male', b'189', b'104', b'3'), (b'Male', b'147', b'92', b'5'),
       (b'Male', b'154', b'111', b'5'), (b'Male', b'174', b'90', b'3'),
       (b'Female', b'169', b'103', b'4'), (b'Male', b'195', b'81', b'2'),
       (b'Female', b'159', b'80', b'4'),
       (b'Female', b'192', b'101', b'3'), (b'Male', b'155', b'51', b'2'),
       (b'Male', b'191', b'79', b'2'), (b'Female', b'153', b'107', b'5'),
       (b'Female', b'157', b'110', b'5'), (b'Male', b'140', b'129', b'5'),
       (b'Male', b'144', b'145', b'5'), (b'Male', b'172', b'139', b'5'),
       (b'Male', b'157', b'110', b'5'), (b'Female', b'153', b'149', b'5'),
       (b'Female', b'169', b'97', b'4'), (b'Male', b'185', b'139', b'5'),
       (b'Female', b'172', b'67', b'2'), (b'Female', b'151', b'64', b'3'),
       (b'Male', b'190', b'95', b'3'), (b'Male', b'187', b'62', b'1'),
       (b'Female', b'163', b'159', b'5'), (b'Male', b'179', b'152', b'5'),
       (b'Male', b'153', b'121', b'5'), (b'Male', b'178', b'52', b'1'),
       (b'Female', b'195', b'65', b'1'),
       (b'Female', b'160', b'131', b'5'),
       (b'Female', b'157', b'153', b'5'),
       (b'Female', b'189', b'132', b'4'),
       (b'Female', b'197', b'114', b'3'), (b'Male', b'244', b'80', b'4'),
       (b'Female', b'171', b'152', b'5'),
       (b'Female', b'185', b'81', b'2'),
       (b'Female', b'175', b'120', b'4'),
       (b'Female', b'149', b'108', b'5'), (b'Male', b'157', b'56', b'2'),
       (b'Male', b'161', b'118', b'5'), (b'Female', b'182', b'126', b'4'),
       (b'Male', b'185', b'76', b'2'), (b'Female', b'188', b'122', b'4'),
       (b'Male', b'181', b'111', b'4'), (b'Male', b'161', b'72', b'3'),
       (b'Male', b'140', b'152', b'5'), (b'Female', b'168', b'135', b'5'),
       (b'Female', b'176', b'54', b'1'), (b'Male', b'163', b'110', b'5'),
       (b'Male', b'172', b'105', b'4'), (b'Male', b'196', b'116', b'4'),
       (b'Female', b'187', b'89', b'3'), (b'Male', b'172', b'92', b'4'),
       (b'Male', b'178', b'127', b'5'), (b'Female', b'164', b'70', b'3'),
       (b'Male', b'143', b'88', b'5'), (b'Female', b'191', b'54', b'0'),
       (b'Female', b'141', b'143', b'5'), (b'Male', b'193', b'54', b'0'),
       (b'Male', b'190', b'83', b'2'), (b'Male', b'175', b'135', b'5'),
       (b'Female', b'179', b'158', b'5'),
       (b'Female', b'172', b'96', b'4'), (b'Female', b'168', b'59', b'2'),
       (b'Female', b'164', b'82', b'4'),
       (b'Female', b'194', b'136', b'4'),
       (b'Female', b'153', b'51', b'2'), (b'Male', b'178', b'117', b'4'),
       (b'Male', b'141', b'80', b'5'), (b'Male', b'180', b'75', b'2'),
       (b'Female', b'185', b'100', b'3'),
       (b'Female', b'197', b'154', b'4'), (b'Male', b'165', b'104', b'4'),
       (b'Female', b'168', b'90', b'4'),
       (b'Female', b'176', b'122', b'4'), (b'Male', b'181', b'51', b'0'),
       (b'Male', b'164', b'75', b'3'), (b'Female', b'166', b'140', b'5'),
       (b'Female', b'190', b'105', b'3'), (b'Male', b'186', b'118', b'4'),
       (b'Male', b'168', b'123', b'5'), (b'Male', b'198', b'50', b'0'),
       (b'Female', b'175', b'141', b'5'), (b'Male', b'145', b'117', b'5'),
       (b'Female', b'159', b'104', b'5'),
       (b'Female', b'185', b'140', b'5'),
       (b'Female', b'178', b'154', b'5'),
       (b'Female', b'183', b'96', b'3'),
       (b'Female', b'194', b'111', b'3'), (b'Male', b'177', b'61', b'2'),
       (b'Male', b'197', b'119', b'4'), (b'Female', b'170', b'156', b'5'),
       (b'Male', b'142', b'69', b'4'), (b'Male', b'160', b'139', b'5'),
       (b'Male', b'195', b'69', b'1'), (b'Female', b'190', b'50', b'0'),
       (b'Male', b'199', b'156', b'4'), (b'Male', b'154', b'105', b'5'),
       (b'Male', b'161', b'155', b'5'), (b'Female', b'198', b'145', b'4'),
       (b'Female', b'192', b'140', b'4'), (b'Male', b'195', b'126', b'4'),
       (b'Male', b'166', b'160', b'5'), (b'Male', b'159', b'154', b'5'),
       (b'Female', b'181', b'106', b'4'), (b'Male', b'149', b'66', b'3'),
       (b'Female', b'150', b'70', b'4'),
       (b'Female', b'146', b'157', b'5'), (b'Male', b'190', b'135', b'4'),
       (b'Female', b'192', b'90', b'2'), (b'Female', b'177', b'96', b'4'),
       (b'Male', b'148', b'60', b'3'), (b'Female', b'165', b'57', b'2'),
       (b'Female', b'146', b'104', b'5'), (b'Male', b'144', b'108', b'5'),
       (b'Female', b'176', b'156', b'5'),
       (b'Female', b'168', b'87', b'4'), (b'Male', b'187', b'122', b'4'),
       (b'Male', b'187', b'138', b'4'), (b'Female', b'184', b'160', b'5'),
       (b'Female', b'158', b'149', b'5'), (b'Male', b'158', b'96', b'4'),
       (b'Male', b'194', b'115', b'4'), (b'Female', b'145', b'79', b'4'),
       (b'Male', b'182', b'151', b'5'), (b'Male', b'154', b'54', b'2'),
       (b'Female', b'168', b'139', b'5'),
       (b'Female', b'187', b'70', b'2'),
       (b'Female', b'158', b'153', b'5'),
       (b'Female', b'167', b'110', b'4'),
       (b'Female', b'171', b'155', b'5'),
       (b'Female', b'183', b'150', b'5'),
       (b'Female', b'190', b'156', b'5'), (b'Male', b'194', b'108', b'3'),
       (b'Male', b'171', b'147', b'5'), (b'Male', b'159', b'124', b'5'),
       (b'Female', b'169', b'54', b'2'), (b'Female', b'167', b'85', b'4'),
       (b'Male', b'180', b'149', b'5'), (b'Male', b'163', b'123', b'5'),
       (b'Male', b'140', b'79', b'5'), (b'Male', b'197', b'125', b'4'),
       (b'Male', b'194', b'106', b'3'), (b'Female', b'140', b'146', b'5'),
       (b'Male', b'195', b'98', b'3'), (b'Female', b'168', b'115', b'3'),
       (b'Female', b'196', b'50', b'0'), (b'Male', b'140', b'52', b'3'),
       (b'Female', b'150', b'60', b'3'),
       (b'Female', b'168', b'140', b'5'),
       (b'Female', b'155', b'111', b'5'),
       (b'Female', b'179', b'103', b'4'),
       (b'Female', b'182', b'84', b'3'), (b'Male', b'168', b'160', b'5'),
       (b'Female', b'187', b'102', b'3'), (b'Male', b'181', b'105', b'4'),
       (b'Male', b'199', b'99', b'2'), (b'Female', b'184', b'76', b'2'),
       (b'Male', b'192', b'101', b'3'), (b'Female', b'182', b'143', b'5'),
       (b'Female', b'172', b'111', b'4'), (b'Male', b'181', b'78', b'2'),
       (b'Male', b'176', b'109', b'4'), (b'Female', b'156', b'106', b'5'),
       (b'Female', b'151', b'67', b'3'), (b'Female', b'188', b'80', b'2'),
       (b'Male', b'187', b'136', b'4'), (b'Male', b'174', b'138', b'5'),
       (b'Male', b'167', b'151', b'5'), (b'Female', b'196', b'131', b'4'),
       (b'Male', b'197', b'149', b'4'), (b'Female', b'185', b'119', b'4'),
       (b'Female', b'170', b'102', b'4'),
       (b'Female', b'181', b'94', b'3'),
       (b'Female', b'166', b'126', b'5'), (b'Male', b'188', b'100', b'3'),
       (b'Female', b'162', b'74', b'3'), (b'Male', b'177', b'117', b'4'),
       (b'Male', b'162', b'97', b'4'), (b'Male', b'180', b'73', b'2'),
       (b'Female', b'192', b'108', b'3'), (b'Male', b'165', b'80', b'3'),
       (b'Female', b'167', b'135', b'5'),
       (b'Female', b'182', b'84', b'3'),
       (b'Female', b'161', b'134', b'5'), (b'Male', b'158', b'95', b'4'),
       (b'Male', b'141', b'85', b'5'), (b'Male', b'154', b'100', b'5'),
       (b'Male', b'165', b'105', b'4'), (b'Female', b'142', b'137', b'5'),
       (b'Male', b'141', b'94', b'5'), (b'Male', b'145', b'108', b'5'),
       (b'Male', b'157', b'74', b'4'), (b'Female', b'177', b'117', b'4'),
       (b'Female', b'166', b'144', b'5'), (b'Male', b'193', b'151', b'5'),
       (b'Male', b'184', b'57', b'1'), (b'Male', b'179', b'93', b'3'),
       (b'Female', b'156', b'89', b'4'), (b'Male', b'182', b'104', b'4'),
       (b'Male', b'145', b'160', b'5'), (b'Female', b'150', b'87', b'4'),
       (b'Male', b'145', b'99', b'5'), (b'Female', b'196', b'122', b'4'),
       (b'Male', b'191', b'96', b'3'), (b'Female', b'148', b'67', b'4'),
       (b'Female', b'150', b'84', b'4'), (b'Male', b'148', b'155', b'5'),
       (b'Female', b'153', b'146', b'5'),
       (b'Female', b'196', b'159', b'5'),
       (b'Female', b'185', b'52', b'0'),
       (b'Female', b'171', b'131', b'5'),
       (b'Female', b'143', b'118', b'5'),
       (b'Female', b'142', b'86', b'5'),
       (b'Female', b'141', b'126', b'5'), (b'Male', b'159', b'109', b'5'),
       (b'Female', b'173', b'82', b'2'), (b'Male', b'183', b'138', b'5'),
       (b'Female', b'152', b'90', b'4'), (b'Male', b'178', b'140', b'5'),
       (b'Male', b'188', b'54', b'0'), (b'Female', b'155', b'144', b'5'),
       (b'Male', b'166', b'70', b'3'), (b'Male', b'188', b'123', b'4'),
       (b'Female', b'171', b'120', b'5'), (b'Male', b'179', b'130', b'5'),
       (b'Female', b'186', b'137', b'4'),
       (b'Female', b'153', b'78', b'2'), (b'Female', b'184', b'86', b'3'),
       (b'Female', b'177', b'81', b'3'), (b'Male', b'145', b'78', b'4'),
       (b'Male', b'170', b'81', b'3'), (b'Male', b'181', b'141', b'5'),
       (b'Male', b'165', b'155', b'5'), (b'Female', b'174', b'65', b'2'),
       (b'Female', b'146', b'110', b'5'), (b'Male', b'178', b'85', b'3'),
       (b'Male', b'166', b'61', b'2'), (b'Male', b'191', b'62', b'1'),
       (b'Female', b'177', b'155', b'5'),
       (b'Female', b'183', b'50', b'0'), (b'Male', b'151', b'114', b'5'),
       (b'Male', b'182', b'98', b'3'), (b'Female', b'142', b'159', b'5'),
       (b'Female', b'188', b'90', b'3'), (b'Male', b'161', b'89', b'4'),
       (b'Male', b'153', b'70', b'3'), (b'Male', b'140', b'143', b'5'),
       (b'Male', b'169', b'141', b'5'), (b'Female', b'162', b'159', b'5'),
       (b'Male', b'183', b'147', b'5'), (b'Female', b'162', b'58', b'2'),
       (b'Female', b'172', b'109', b'4'),
       (b'Female', b'150', b'119', b'5'),
       (b'Female', b'169', b'145', b'5'),
       (b'Female', b'184', b'132', b'4'), (b'Male', b'159', b'104', b'5'),
       (b'Male', b'163', b'131', b'5'), (b'Male', b'156', b'137', b'5'),
       (b'Female', b'157', b'52', b'2'), (b'Male', b'147', b'84', b'4'),
       (b'Male', b'141', b'86', b'5'), (b'Male', b'173', b'139', b'5'),
       (b'Male', b'154', b'145', b'5'), (b'Male', b'168', b'148', b'5'),
       (b'Male', b'168', b'50', b'1'), (b'Male', b'145', b'130', b'5'),
       (b'Male', b'152', b'103', b'5'), (b'Female', b'187', b'121', b'4'),
       (b'Female', b'163', b'57', b'0'), (b'Male', b'178', b'83', b'3'),
       (b'Female', b'187', b'94', b'3'),
       (b'Female', b'179', b'114', b'4'), (b'Male', b'190', b'80', b'2'),
       (b'Male', b'172', b'75', b'3'), (b'Male', b'188', b'57', b'1'),
       (b'Male', b'193', b'65', b'1'), (b'Female', b'147', b'126', b'5'),
       (b'Female', b'147', b'94', b'5'), (b'Male', b'166', b'107', b'4'),
       (b'Female', b'192', b'139', b'4'), (b'Male', b'181', b'139', b'4'),
       (b'Male', b'150', b'74', b'4'), (b'Male', b'178', b'160', b'5'),
       (b'Female', b'156', b'52', b'2'), (b'Male', b'149', b'100', b'5'),
       (b'Male', b'156', b'74', b'4'), (b'Male', b'183', b'105', b'3'),
       (b'Female', b'162', b'68', b'3'), (b'Female', b'165', b'83', b'4'),
       (b'Female', b'168', b'143', b'5'), (b'Male', b'160', b'156', b'5'),
       (b'Female', b'169', b'88', b'2'), (b'Female', b'140', b'76', b'4'),
       (b'Female', b'187', b'92', b'3'), (b'Male', b'151', b'82', b'4'),
       (b'Female', b'186', b'140', b'5'), (b'Male', b'182', b'108', b'4'),
       (b'Male', b'188', b'81', b'2'), (b'Male', b'179', b'110', b'4'),
       (b'Female', b'156', b'126', b'5'), (b'Male', b'188', b'114', b'4'),
       (b'Male', b'183', b'153', b'5'), (b'Male', b'144', b'88', b'5'),
       (b'Male', b'196', b'69', b'1'), (b'Male', b'171', b'141', b'5'),
       (b'Male', b'171', b'147', b'5'), (b'Female', b'180', b'156', b'5'),
       (b'Male', b'191', b'146', b'5'), (b'Female', b'179', b'67', b'2'),
       (b'Female', b'180', b'60', b'2'),
       (b'Female', b'154', b'132', b'5'), (b'Male', b'188', b'99', b'3'),
       (b'Male', b'142', b'135', b'5'), (b'Male', b'170', b'95', b'4'),
       (b'Male', b'152', b'141', b'5'), (b'Female', b'190', b'118', b'4'),
       (b'Female', b'181', b'111', b'4'), (b'Male', b'153', b'104', b'5'),
       (b'Male', b'187', b'140', b'5'), (b'Female', b'144', b'66', b'4'),
       (b'Female', b'148', b'54', b'2'), (b'Female', b'199', b'92', b'2'),
       (b'Female', b'167', b'85', b'4'), (b'Female', b'164', b'71', b'3'),
       (b'Female', b'185', b'102', b'3'),
       (b'Female', b'164', b'160', b'5'), (b'Male', b'142', b'71', b'4'),
       (b'Male', b'165', b'68', b'2'), (b'Female', b'172', b'62', b'2'),
       (b'Female', b'157', b'56', b'2'), (b'Male', b'155', b'57', b'2'),
       (b'Female', b'167', b'153', b'5'),
       (b'Female', b'164', b'126', b'5'),
       (b'Female', b'189', b'125', b'4'),
       (b'Female', b'161', b'145', b'5'),
       (b'Female', b'155', b'71', b'3'),
       (b'Female', b'171', b'118', b'4'),
       (b'Female', b'154', b'92', b'4'), (b'Male', b'179', b'83', b'3'),
       (b'Male', b'170', b'115', b'4'), (b'Female', b'184', b'106', b'4'),
       (b'Female', b'191', b'68', b'2'), (b'Male', b'162', b'58', b'2'),
       (b'Male', b'178', b'138', b'5'), (b'Female', b'157', b'60', b'2'),
       (b'Male', b'184', b'83', b'2'), (b'Male', b'197', b'88', b'2'),
       (b'Female', b'160', b'51', b'2'), (b'Male', b'184', b'153', b'5'),
       (b'Male', b'190', b'50', b'0'), (b'Male', b'174', b'90', b'3'),
       (b'Female', b'189', b'124', b'4'),
       (b'Female', b'186', b'143', b'5'),
       (b'Female', b'180', b'58', b'1'),
       (b'Female', b'186', b'148', b'4'),
       (b'Female', b'193', b'61', b'1'), (b'Male', b'161', b'103', b'4'),
       (b'Female', b'151', b'158', b'5'),
       (b'Female', b'195', b'147', b'4'),
       (b'Female', b'184', b'152', b'5'), (b'Male', b'141', b'80', b'5'),
       (b'Female', b'185', b'94', b'3'),
       (b'Female', b'186', b'127', b'4'), (b'Male', b'142', b'131', b'5'),
       (b'Female', b'147', b'67', b'4'), (b'Male', b'151', b'62', b'3'),
       (b'Female', b'160', b'124', b'5'), (b'Male', b'185', b'60', b'1'),
       (b'Female', b'163', b'63', b'2'), (b'Male', b'174', b'95', b'4'),
       (b'Female', b'150', b'144', b'5'), (b'Male', b'142', b'91', b'5'),
       (b'Male', b'178', b'142', b'5'), (b'Female', b'154', b'96', b'5'),
       (b'Male', b'176', b'87', b'3'), (b'Male', b'159', b'120', b'5'),
       (b'Male', b'191', b'62', b'1'), (b'Male', b'177', b'117', b'4'),
       (b'Male', b'151', b'154', b'5'), (b'Female', b'182', b'149', b'5'),
       (b'Female', b'197', b'72', b'2'), (b'Male', b'146', b'138', b'5'),
       (b'Female', b'160', b'83', b'4'), (b'Female', b'157', b'66', b'3'),
       (b'Female', b'150', b'50', b'2'), (b'Female', b'167', b'58', b'2'),
       (b'Female', b'180', b'70', b'2'), (b'Female', b'183', b'76', b'2'),
       (b'Female', b'183', b'87', b'3'),
       (b'Female', b'152', b'154', b'5'),
       (b'Female', b'164', b'71', b'3'), (b'Male', b'187', b'96', b'3'),
       (b'Male', b'169', b'136', b'5'), (b'Female', b'149', b'61', b'3'),
       (b'Male', b'163', b'137', b'5'), (b'Female', b'195', b'104', b'3'),
       (b'Male', b'174', b'107', b'4'), (b'Male', b'182', b'70', b'2'),
       (b'Male', b'169', b'110', b'4'), (b'Male', b'193', b'130', b'4'),
       (b'Male', b'148', b'141', b'5'), (b'Male', b'186', b'68', b'2'),
       (b'Male', b'165', b'143', b'5'), (b'Female', b'146', b'123', b'5'),
       (b'Female', b'166', b'133', b'5'), (b'Male', b'179', b'56', b'1'),
       (b'Female', b'177', b'101', b'4'), (b'Male', b'181', b'154', b'5'),
       (b'Female', b'161', b'154', b'5'),
       (b'Female', b'157', b'103', b'5'),
       (b'Female', b'169', b'98', b'4'),
       (b'Female', b'152', b'114', b'5'),
       (b'Female', b'162', b'64', b'2'), (b'Male', b'162', b'130', b'5'),
       (b'Female', b'177', b'61', b'2'), (b'Female', b'195', b'61', b'1'),
       (b'Male', b'140', b'146', b'5'), (b'Female', b'186', b'146', b'5'),
       (b'Female', b'178', b'107', b'4'), (b'Male', b'174', b'54', b'1'),
       (b'Female', b'180', b'59', b'1'), (b'Male', b'188', b'141', b'4'),
       (b'Female', b'187', b'130', b'4'),
       (b'Female', b'153', b'77', b'4'), (b'Female', b'165', b'95', b'4'),
       (b'Female', b'178', b'79', b'2'),
       (b'Female', b'163', b'154', b'5'),
       (b'Female', b'150', b'97', b'5'), (b'Male', b'179', b'127', b'4'),
       (b'Male', b'165', b'62', b'2'), (b'Male', b'168', b'158', b'5'),
       (b'Female', b'153', b'133', b'5'), (b'Male', b'184', b'157', b'5'),
       (b'Male', b'188', b'65', b'1'), (b'Female', b'166', b'153', b'5'),
       (b'Female', b'172', b'116', b'4'), (b'Male', b'182', b'73', b'2'),
       (b'Male', b'143', b'149', b'5'), (b'Male', b'152', b'146', b'5'),
       (b'Female', b'186', b'128', b'4'), (b'Male', b'159', b'140', b'5'),
       (b'Male', b'146', b'70', b'4'), (b'Female', b'176', b'121', b'4'),
       (b'Female', b'146', b'101', b'5'), (b'Male', b'159', b'145', b'5'),
       (b'Male', b'162', b'157', b'5'), (b'Female', b'172', b'90', b'4'),
       (b'Female', b'169', b'121', b'5'), (b'Male', b'182', b'50', b'0'),
       (b'Female', b'183', b'79', b'2'), (b'Male', b'176', b'77', b'2'),
       (b'Female', b'188', b'128', b'4'),
       (b'Female', b'175', b'83', b'2'), (b'Male', b'154', b'81', b'4'),
       (b'Female', b'184', b'147', b'5'), (b'Male', b'179', b'123', b'4'),
       (b'Male', b'152', b'132', b'5'), (b'Male', b'179', b'56', b'1'),
       (b'Female', b'145', b'141', b'5'),
       (b'Female', b'181', b'80', b'2'), (b'Male', b'158', b'127', b'5'),
       (b'Female', b'188', b'99', b'3'), (b'Male', b'145', b'142', b'5'),
       (b'Male', b'161', b'115', b'5'), (b'Male', b'198', b'109', b'3'),
       (b'Male', b'147', b'142', b'5'), (b'Male', b'154', b'112', b'5'),
       (b'Female', b'178', b'65', b'2'), (b'Male', b'195', b'153', b'5'),
       (b'Female', b'167', b'79', b'3'), (b'Male', b'183', b'131', b'4'),
       (b'Female', b'164', b'142', b'5'), (b'Male', b'167', b'64', b'2'),
       (b'Female', b'151', b'55', b'2'),
       (b'Female', b'147', b'107', b'5'),
       (b'Female', b'155', b'115', b'5'),
       (b'Female', b'172', b'108', b'4'),
       (b'Female', b'142', b'86', b'5'), (b'Male', b'146', b'85', b'4'),
       (b'Female', b'188', b'115', b'4'), (b'Male', b'173', b'111', b'4'),
       (b'Female', b'160', b'109', b'5'), (b'Male', b'187', b'80', b'2'),
       (b'Male', b'198', b'136', b'4'), (b'Female', b'179', b'150', b'5'),
       (b'Female', b'164', b'59', b'2'),
       (b'Female', b'146', b'147', b'5'),
       (b'Female', b'198', b'50', b'0'), (b'Female', b'170', b'53', b'1'),
       (b'Male', b'152', b'98', b'5'), (b'Female', b'150', b'153', b'5'),
       (b'Female', b'184', b'121', b'4'),
       (b'Female', b'141', b'136', b'5'), (b'Male', b'150', b'95', b'5'),
       (b'Male', b'173', b'131', b'5')],
      dtype=[('Gender', 'O'), ('Height', 'O'), ('Weight', 'O'), ('Index', 'O')])

# Exercise 1
Now we are going to utilise pandas' methods to represent this data in a data frame (df). By default the formatting of the output will be easier to read. We can also utilise pandas methods to perform data analysis.

Start by running the code below to check that bmi dataframe has been populated by 'reading the csv'.

In [37]:
import pandas as pd
bmi_df = pd.read_csv("../datasets/500_Person_Gender_Height_Weight_Index.csv")
bmi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

Now utilise pandas' sample method to show only five rows of the BMI data set.
Play around with the parameters of the sample method, and observe the results. 

From the documentation (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html):


DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None, ignore_index=False)

In [40]:
bmi_df.sample(4)

     Gender  Height  Weight  Index
441    Male     182      73      2
131  Female     187      70      2
313  Female     179      67      2
378  Female     154      96      5

# Exercise 2 - Titanic dataset

In [2]:
titanic_df = pd.read_csv("../datasets/titanic-dataset.csv")

In [3]:
import os

In [4]:
os.path.abspath(os.path.join("..", "..", "..", "GitHub/PP4DSP1-test/datasets", "titanic-dataset.csv"))

'/Users/nick/Documents/GitHub/PP4DSP1-test/datasets/titanic-dataset.csv'

In [6]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
titanic_df["Age Filled"] = titanic_df.Age.fillna(titanic_df.Age.median())

In [15]:
titanic_df.sample(10).

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age Filled
530,531,1,2,"Quick, Miss. Phyllis May",female,2.0,1,1,26360,26.0000,NaN,S,2.0
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C,52.0
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.9750,NaN,S,45.0
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,1,1,16966,134.5000,E34,C,40.0
475,476,0,1,"Clifford, Mr. George Quincy",male,NaN,0,0,110465,52.0000,A14,S,28.0
84,85,1,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S,17.0
748,749,0,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S,19.0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,26.0
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C,54.0
656,657,0,3,"Radeff, Mr. Alexander",male,NaN,0,0,349223,7.8958,NaN,S,28.0

In [16]:
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Age Filled       0
dtype: int64

In [19]:
first_t = titanic_df[["Survived", "Pclass"]]
middle_t = titanic_df[["Parch","Cabin"]]
end_t = titanic_df[["Name", "Age"]]

In [20]:
middle_t

     Parch Cabin
0        0   NaN
1        0   C85
2        0   NaN
3        0  C123
4        0   NaN
..     ...   ...
886      0   NaN
887      0   B42
888      2   NaN
889      0  C148
890      0   NaN

[891 rows x 2 columns]

In [29]:
pd.concat([first_t, end_t], axis=0)

     Survived  Pclass                                      Name   Age
0         0.0     3.0                                       NaN   NaN
1         1.0     1.0                                       NaN   NaN
2         1.0     3.0                                       NaN   NaN
3         1.0     1.0                                       NaN   NaN
4         0.0     3.0                                       NaN   NaN
..        ...     ...                                       ...   ...
886       NaN     NaN                     Montvila, Rev. Juozas  27.0
887       NaN     NaN              Graham, Miss. Margaret Edith  19.0
888       NaN     NaN  Johnston, Miss. Catherine Helen "Carrie"   NaN
889       NaN     NaN                     Behr, Mr. Karl Howell  26.0
890       NaN     NaN                       Dooley, Mr. Patrick  32.0

[1782 rows x 4 columns]

In [ ]:
pd.Series()

In [ ]:
pd